Repository Nardol/recozik: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint-webui

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  pass_filenames: false

eslint-webui:
  name: eslint (web UI)
  entry: 'bash -c "cd packages/recozik-webui && npm run lint -- --max-warnings=0"
  
    '
  language: system
  pass_filenames: false

Fix security, type consistency, and documentation issues
  MIGRATION.fr.md
  packages/recozik-web/src/recozik_web/auth.py
  packages/recozik-webui/src/components/AdminTokenManager.tsx
  packages/recozik-webui/src/lib/api.ts
  tests/test_web_app.py
Due: mypy, eslint-webui

feat: Add comprehensive user management and fix all CodeRabbit issues
  .github/copilot-instructions.md
  CHANGELOG.md
  MIGRATION.fr.md
  MIGRATION.md
  README.fr.md
  README.md
  packages/recozik-web/MIGRATION.md
  packages/recozik-web/src/recozik_web/app.py
  packages/recozik-web/src/recozik_web/auth.py
  packages/recozik-web/src/recozik_web/auth_models.py
  packages/recozik-web/src/recozik_web/auth_routes.py
  packages/recozik-web/src/recozik_web/auth_service.py
  packages/recozik-web/src/recozik_web/auth_store.py
  packages/recozik-webui/src/components/AdminTokenManager.tsx
  packages/recozik-webui/src/components/DashboardClient.tsx
  packages/recozik-webui/src/components/UserManager.tsx
  packages/recozik-webui/src/components/__tests__/UserManager.test.tsx
  packages/recozik-webui/src/hooks/useModalAccessibility.ts
  packages/recozik-webui/src/i18n/messages.ts
  packages/recozik-webui/src/lib/api.ts
  tests/test_web_app.py
Due: mypy, eslint-webui

feat: Add comprehensive user management and fix all CodeRabbit issues (#165)
  .github/copilot-instructions.md
  CHANGELOG.md
  MIGRATION.fr.md
  MIGRATION.md
  README.fr.md
  README.md
  packages/recozik-web/MIGRATION.md
  packages/recozik-web/src/recozik_web/app.py
  packages/recozik-web/src/recozik_web/auth.py
  packages/recozik-web/src/recozik_web/auth_models.py
  packages/recozik-web/src/recozik_web/auth_routes.py
  packages/recozik-web/src/recozik_web/auth_service.py
  packages/recozik-web/src/recozik_web/auth_store.py
  packages/recozik-webui/src/components/AdminTokenManager.tsx
  packages/recozik-webui/src/components/DashboardClient.tsx
  packages/recozik-webui/src/components/UserManager.tsx
  packages/recozik-webui/src/components/__tests__/UserManager.test.tsx
  packages/recozik-webui/src/hooks/useModalAccessibility.ts
  packages/recozik-webui/src/i18n/messages.ts
  packages/recozik-webui/src/lib/api.ts
  tests/test_web_app.py
Due: mypy, eslint-webui

Fix UserManager test mocks for inactive status
  packages/recozik-webui/src/components/__tests__/UserManager.test.tsx
Due: eslint-webui

Fix UserManager test mocks for inactive status (#168)
  packages/recozik-webui/src/components/__tests__/UserManager.test.tsx
Due: eslint-webui

feat: Make email required and add UX micro-improvements
  packages/recozik-web/src/recozik_web/auth_models.py
  packages/recozik-webui/package-lock.json
  packages/recozik-webui/src/components/AdminTokenManager.tsx
  packages/recozik-webui/src/components/UserManager.tsx
  packages/recozik-webui/src/lib/api.ts
Due: mypy, eslint-webui

fix: Address CodeRabbit review findings for PR #170
  packages/recozik-web/src/recozik_web/auth_routes.py
  packages/recozik-webui/src/components/UserManager.tsx
  packages/recozik-webui/src/lib/api.ts
Due: mypy, eslint-webui

fix: Change email null to undefined in UpdateUserPayload
  packages/recozik-webui/src/components/UserManager.tsx
Due: eslint-webui

refactor: Address CodeRabbit optional refinements
  packages/recozik-web/src/recozik_web/auth_routes.py
Due: mypy

feat: Make email required and add UX micro-improvements (#170)
  packages/recozik-web/src/recozik_web/auth_models.py
  packages/recozik-web/src/recozik_web/auth_routes.py
  packages/recozik-webui/package-lock.json
  packages/recozik-webui/src/components/AdminTokenManager.tsx
  packages/recozik-webui/src/components/UserManager.tsx
  packages/recozik-webui/src/lib/api.ts
Due: mypy, eslint-webui

perf(auth): Eliminate repeated DB queries on every authentication request
  packages/recozik-web/src/recozik_web/auth.py
Due: mypy

perf(auth): Eliminate repeated DB queries on every authentication request (#169)
  packages/recozik-web/src/recozik_web/auth.py
Due: mypy

docs: Add multi-worker deployment considerations
  docs/deploy-backend.fr.md
  docs/deploy-backend.md
Due: none

docs: Add multi-worker deployment considerations (#171)
  docs/deploy-backend.fr.md
  docs/deploy-backend.md
Due: none

perf(ci): Optimize E2E test runtime by ~66%
  .github/workflows/ci.yml
Due: none

perf(ci): Optimize E2E test runtime by ~66% (#173)
  .github/workflows/ci.yml
Due: none

feat: Add comprehensive E2E test suite for authentication, user management, and token management
  packages/recozik-webui/.gitignore
  packages/recozik-webui/src/components/AdminTokenManager.tsx
  packages/recozik-webui/src/components/UserManager.tsx
  packages/recozik-webui/tests/e2e/auth.spec.ts
  packages/recozik-webui/tests/e2e/joblist.spec.ts
  packages/recozik-webui/tests/e2e/tokens.spec.ts
  packages/recozik-webui/tests/e2e/users.spec.ts
Due: eslint-webui

test: Add assertions to French token creation test
  packages/recozik-webui/tests/e2e/tokens.spec.ts
Due: eslint-webui

Fix mock E2E routing for webui
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  packages/recozik-webui/README.md
  packages/recozik-webui/tests/e2e/mock-api-server.js
Due: eslint-webui

feat: Add comprehensive E2E test suite for authentication, user management, and token management (#172)
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  packages/recozik-webui/.gitignore
  packages/recozik-webui/README.md
  packages/recozik-webui/src/components/AdminTokenManager.tsx
  packages/recozik-webui/src/components/UserManager.tsx
  packages/recozik-webui/tests/e2e/auth.spec.ts
  packages/recozik-webui/tests/e2e/joblist.spec.ts
  packages/recozik-webui/tests/e2e/mock-api-server.js
  packages/recozik-webui/tests/e2e/tokens.spec.ts
  packages/recozik-webui/tests/e2e/users.spec.ts
Due: eslint-webui

Improve no-JS admin flows and tests
  .github/copilot-instructions.md
  packages/recozik-webui/README.md
  packages/recozik-webui/src/app/[locale]/page.tsx
  packages/recozik-webui/src/app/actions.ts
  packages/recozik-webui/src/components/DashboardClient.tsx
  packages/recozik-webui/src/components/JobList.tsx
  packages/recozik-webui/src/components/LoginForm.tsx
  packages/recozik-webui/src/i18n/messages.ts
  packages/recozik-webui/tests/e2e/mock-api-server.js
Due: eslint-webui

Add no-JS admin flows and stabilize web UI tests
  packages/recozik-webui/README.md
  packages/recozik-webui/package-lock.json
  packages/recozik-webui/package.json
  packages/recozik-webui/playwright.config.ts
  packages/recozik-webui/src/app/[locale]/page.tsx
  packages/recozik-webui/src/app/actions-admin.ts
  packages/recozik-webui/src/app/actions-users.ts
  packages/recozik-webui/src/app/api/login/route.ts
  packages/recozik-webui/src/components/AdminTokenPanelPragma.tsx
  packages/recozik-webui/src/components/UsersPanelPragma.tsx
  packages/recozik-webui/tests/e2e/auth.spec.ts
  packages/recozik-webui/tests/e2e/global-setup.ts
  packages/recozik-webui/tests/e2e/global-teardown.ts
  packages/recozik-webui/tests/e2e/mock-api-server.js
  packages/recozik-webui/tests/e2e/pragma-nojs.spec.ts
Due: eslint-webui

Localize login errors and i18n labels
  packages/recozik-webui/src/app/[locale]/page.tsx
  packages/recozik-webui/src/i18n/messages.ts
Due: eslint-webui

Tweak auto-refresh defaults and mock port docs
  packages/recozik-webui/README.md
  packages/recozik-webui/src/components/JobList.tsx
Due: eslint-webui

Fix safeDecode types for Next.js build
  packages/recozik-webui/src/app/[locale]/page.tsx
Due: eslint-webui

CI: install Playwright webkit for e2e job
  .github/workflows/ci.yml
Due: none

Address CodeRabbit review feedback
  packages/recozik-webui/package-lock.json
  packages/recozik-webui/package.json
  packages/recozik-webui/playwright.config.ts
  packages/recozik-webui/src/app/[locale]/page.tsx
  packages/recozik-webui/src/app/actions-admin.ts
  packages/recozik-webui/src/app/actions-users.ts
  packages/recozik-webui/src/app/api/login/route.ts
  packages/recozik-webui/src/components/JobList.tsx
  packages/recozik-webui/src/components/UsersPanelPragma.tsx
  packages/recozik-webui/tests/e2e/global-setup.ts
  packages/recozik-webui/tests/e2e/mock-api-server.js
  packages/recozik-webui/tests/e2e/pragma-nojs.spec.ts
Due: eslint-webui

CI: restrict e2e job to chromium and pass project flag directly
  .github/workflows/ci.yml
Due: none

Fix no-JS e2e selectors by adding noscript submit testids
  packages/recozik-webui/src/components/AdminTokenPanelPragma.tsx
  packages/recozik-webui/src/components/UsersPanelPragma.tsx
  packages/recozik-webui/tests/e2e/pragma-nojs.spec.ts
Due: eslint-webui

Add no-JS admin flows and stabilize web UI tests (#176)
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  packages/recozik-webui/README.md
  packages/recozik-webui/package.json
  packages/recozik-webui/playwright.config.ts
  packages/recozik-webui/src/app/[locale]/page.tsx
  packages/recozik-webui/src/app/actions-admin.ts
  packages/recozik-webui/src/app/actions-users.ts
  packages/recozik-webui/src/app/actions.ts
  packages/recozik-webui/src/app/api/login/route.ts
  packages/recozik-webui/src/components/AdminTokenPanelPragma.tsx
  packages/recozik-webui/src/components/DashboardClient.tsx
  packages/recozik-webui/src/components/JobList.tsx
  packages/recozik-webui/src/components/LoginForm.tsx
  packages/recozik-webui/src/components/UsersPanelPragma.tsx
  packages/recozik-webui/src/i18n/messages.ts
  packages/recozik-webui/tests/e2e/auth.spec.ts
  packages/recozik-webui/tests/e2e/global-setup.ts
  packages/recozik-webui/tests/e2e/global-teardown.ts
  packages/recozik-webui/tests/e2e/mock-api-server.js
  packages/recozik-webui/tests/e2e/pragma-nojs.spec.ts
Due: eslint-webui

Re-enable Firefox E2E tests with defensive configuration
  docs/firefox-e2e-resolution.md
  packages/recozik-webui/playwright.config.ts
Due: eslint-webui

Add Firefox E2E issue report doc
  docs/firefox-e2e-issues.md
Due: none

Fix Firefox E2E tests by disabling parallel execution
  packages/recozik-webui/playwright.config.ts
Due: eslint-webui

Fix Firefox E2E tests by disabling content sandboxing
  docs/firefox-e2e-resolution.md
  packages/recozik-webui/playwright.config.ts
Due: eslint-webui

Remove Firefox E2E documentation files
  docs/firefox-e2e-issues.md
  docs/firefox-e2e-resolution.md
Due: none

Re-enable Firefox for E2E tests (#179)
  packages/recozik-webui/playwright.config.ts
Due: eslint-webui

Fix webui CI Rollup install flake
  .github/workflows/ci.yml
Due: none

Fix webui CI Rollup install flake (#187)
  .github/workflows/ci.yml
Due: none

Add Python 3.14 support and update CI
  .github/workflows/ci.yml
  README.fr.md
  README.md
  packages/recozik-core/pyproject.toml
  packages/recozik-services/pyproject.toml
  packages/recozik-web/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Add Python 3.14 support and update CI (#193)
  .github/workflows/ci.yml
  README.fr.md
  README.md
  packages/recozik-core/pyproject.toml
  packages/recozik-services/pyproject.toml
  packages/recozik-web/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  mypy: any of: \.py$
  eslint-webui: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
